.exerciseForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise {
  display: flex;
  border: none;
  margin-bottom: 50px;
}

.exercise p {
  font-size: 32px;
  margin: 0;
}

.guessInput {
  width: 5em;
  text-align: center;
  font: inherit;
  font-weight: bold;
  font-size: 32px;
  margin: 0 5px;
  background: transparent;
  border: none;
  border-bottom: 3px solid red;
}

.submitButton {
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  margin-top: 30px;
  width: 200px;
  background: white;
  font-weight: bold;
  font-size: 24px;
  color: #242424;
  cursor: pointer;
}

.circle {
  display: inline;
  width: 40px;
  height: 40px;
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}
