.exerciseForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise {
  display: flex;
  border: none;
  margin-bottom: 50px;
}

.exercise p {
  font-size: 32px;
  margin: 0;
}

.guessInput {
  width: 5em;
  text-align: center;
  font: inherit;
  font-weight: bold;
  font-size: 32px;
  margin: 0 5px;
  background: transparent;
  border: none;
  border-bottom: 3px solid red;
}

.submitButton {
  border: none;
  padding: 0.5em;
  width: 100px;
  font-weight: bold;
  font-size: 1em;
  background: transparent;
  border: 2px solid white;
  cursor: pointer;
}
