#root {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.title {
  font-size: 80px;
  font-weight: 200;
}

.blank {
  font-weight: bold;
  border-bottom: 5px solid red;
}
